.void {
  /* background: url("../voidGif/background1.gif.gif"); */
  background-color: rgb(0, 0, 0);
  min-height: 200vh;
  min-width: 100vw;
  background-position: cover;
  height: auto;
  width: auto;
  overflow: auto;
}