#userGeneratedImageContainer {
  position: absolute;
  background: transparent;
  min-height: 200vh;
  min-width: 100vw;
  height: auto;
  width: auto;
  overflow: auto;
}
.zero {
width: 50px;
height: auto;
position: "absolute"
}
.one {
  width: 100px;
  height: auto;
  position: "absolute";
}
.two {
  width: 150px;
  height: auto;
  position: "absolute";
}
.three {
  width: 200px;
  height: auto;
  position: "absolute";
}
.four {
  width: 250px;
  height: auto;
  position: "absolute";
}
.five {
  width: 300px;
  height: auto;
  position: "absolute";
}
.six {
  width: 400px;
  height: auto;
  position: "absolute";
}
.seven {
  width: 450px;
  height: auto;
  position: "absolute";
}
.eight {
  width: 500px;
  height: auto;
  position: "absolute";
}